.verfied-account {
  margin: 3rem 0;
  .alert {
    background-color: rgb(252, 121, 121);
  }
  .content {
    color: rgb(77, 168, 77);
    .my {
      color: rgb(48, 149, 231);
      font-weight: 500;
    }
  }
}
